<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'Spring Boot: MVC + Thymeleaf + Data JPA + Bootstrap- ' + ${titulo}"></title>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="https://github.com/delard/springboot5-03jpa">My Spring Boot Test App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#about"
						th:href="@{/listar}">Clientes</a></li>
				</ul>
			</div>
		</nav>
		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning!= null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer class="container text-light" th:fragment="footer">
	<hr/>
	<h6><small>
	<img th:src="@{/images/spring.png}" alt="Spring Logo" />
	Powerer by <a href="https://spring.io/projects/spring-boot/">Spring Boot</a>, 
		<a href="https://www.thymeleaf.org/">ThymeLeaf</a> and  
		<a href="https://getbootstrap.com/">Bootstrap</a>. 
	</small></h6>
	<h6><small>
	Este proyecto fue desarrollado en un IDE Eclipse + Spring Plugins (STS Spring Tools), David de la Rosa <br/>
	&copy; Company 2019, Inc. Todos los derechos reservados. términos de uso y privacidad.<br/> 
	</small></h6>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.4.0.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>	
	</footer>

</body>
</html>